#footer {
    position: relative;

    font-family: 'Roboto Mono';

    width: 100%;
    height: 10em;

    color: #ffffff;
}
#footer-par {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;
}

.footer-hr {
    width: 80%;
    height: 0.25em;
    background: #ffffff;

    border-radius: 25px;
    border: none;
}

#footer-disclaimer {
    font-size: 0.8em;

    color: #cccccc;
}

#footer-bottom-text-container {
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#footer-socials {
    width: fit-content;

    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
}

#discord-logo {
    width: 1.4em;
    height: 1.4em;

    margin-right: 5px;
}
#matrix-logo {
    width: 4em;
    height: 1.4em;

    margin-right: 5px;

    /* process to appear as white logo */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg) brightness(103%) contrast(101%);
}
#youtube-logo {
    width: 1.5em;
    height: 1.5em;

    margin-left: -5px;
}

.footer-link {
    color: #cccccc;
}

/* mobile porting */
@media screen and (orientation: portrait) {
    #footer-bottom-text-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    #footer-bottom-text-container > * {
        position: relative;

        left: 50%;

        transform: translate(-50%, 0);

        width: fit-content;

        margin-bottom: 1em;
    }
}