<!DOCTYPE html>
<html>
<head>
<!-- SEO -->
<title>Ubuntu Rolling Remix | Page</title>
<meta name="description" content="This is the official repository for the Ubuntu Rolling Remix website. Ubuntu Rolling Remix is an un-official Ubuntu flavour which converts the Ubuntu operating system into a rolling release Linux distribution by tracking the devel series." />
<meta property="og:description" content="This is the official repository for the Ubuntu Rolling Remix website. Ubuntu Rolling Remix is an un-official Ubuntu flavour which converts the Ubuntu operating system into a rolling release Linux distriibution by tracking the devel series." />
<link rel="canonical" href="https://rollingrhinoremix.github.io/" />
<meta property="og:url" content="https://rollingrhinoremix.github.io/" />
<meta property="og:site_name" content="rollingrhinoremix.github.io" />
<meta property="og:type" content="website" />
<link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png" />
<meta name="author" content="MrBeeBenson, Ubuntu Rolling Remix">
<meta content="Open-Source, foss, coding, programming, linux, projects, dev group, group, organisation, free, open source, software, Ubuntu, Ubuntu Rolling, Ubuntu Rolling Remix, Ubuntu Rolling Release, Ubuntu Devel" name="keywords">
<!-- CSS-->
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div id="header">
<div class="header-text">
<h1>Ubuntu Rolling Remix</h1>
</div>
</div>
<div id="navigation">
<p><a href="https://rollingrhinoremix.github.io">Home</a> | <a href="https://rollingrhinoremix.github.io/download">Download</a> | <a href="https://rollingrhinoremix.github.io/docs">Documentation</a> | <a href="https://rollingrhinoremix.github.io/blog">Blog</a> | <a href="https://rollingrhinoremix.github.io/bugs">Bug Tracker</a></p>
</div>
<div id="content">
<h1>Title</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sollicitudin erat. Nunc in ultricies ante. Nunc tristique ipsum eget quam varius pulvinar. Aliquam vitae congue nulla, quis rhoncus massa. Integer lobortis vehicula nisi in venenatis. Sed facilisis bibendum gravida. Pellentesque sed mollis magna. Praesent sollicitudin consectetur lacus sed varius.</p>
<h2>Sub-heading</h2>
<p>Proin eget ornare sem, non dictum mauris. Integer ultrices condimentum massa, eu interdum metus rhoncus ut. Sed congue consequat mauris, a tincidunt sapien mollis at. Vestibulum sagittis turpis ipsum, nec rhoncus metus ultricies nec. Nunc tristique, sem ut faucibus tincidunt, odio quam pulvinar nulla, non fringilla mauris justo eu ipsum. Suspendisse elementum mi laoreet leo tempor consectetur. Nulla a condimentum ipsum. Fusce efficitur condimentum nibh, sed sollicitudin leo molestie a. Proin ante nibh, rhoncus in diam cursus, luctus feugiat arcu. Cras lobortis turpis id nulla interdum venenatis. Pellentesque vitae dolor interdum, lacinia augue quis, mattis risus.</p>
<p>Duis lacinia, risus vel rhoncus mattis, magna lectus efficitur sapien, sed lacinia neque erat at tortor. Nullam nec hendrerit ipsum. In nibh ligula, venenatis in condimentum id, ultrices et arcu. Curabitur ut egestas felis. Duis scelerisque magna eu lacus ultrices, eget ultrices lectus tristique. Sed at auctor nulla. Curabitur a facilisis eros. Nulla vulputate commodo felis eget laoreet. Donec eget elit hendrerit dui tincidunt ultrices eu ut neque.</p>
<p>Sed sed imperdiet tortor. Duis sit amet sapien eget lacus aliquet consequat in tempor magna. Integer sodales sodales nisl a fermentum. Etiam magna odio, pulvinar eget auctor tincidunt, laoreet vulputate ex. Maecenas malesuada vel ex et dapibus. Nunc laoreet nisl et pharetra mattis. Aliquam sem sem, imperdiet quis malesuada id, porttitor sed quam. Etiam a lectus semper, cursus nunc ut, tincidunt ante. Praesent vel volutpat nulla, at vehicula sapien. Etiam venenatis, dui in tempor consequat, libero justo aliquam neque, condimentum pellentesque dui dolor mollis massa. Integer nec ligula lacinia, ultrices est id, vehicula sapien. Aenean enim purus, pretium et elit et, tincidunt porta ipsum. Donec ante odio, bibendum ac ultrices et, fermentum ut purus. Aliquam erat volutpat. Pellentesque maximus, sem vel accumsan convallis, justo velit consectetur neque, non vehicula dolor leo consequat tellus.</p>
<p>Aliquam pharetra, tortor at ornare volutpat, lorem sem mattis magna, rhoncus iaculis tellus nibh et velit. Integer nisi ligula, aliquam nec lobortis nec, euismod a neque. Mauris id lorem eget tortor elementum rhoncus at ut neque. Integer suscipit ut elit a blandit. Morbi dapibus lectus sed nunc malesuada sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque a libero ac ligula laoreet efficitur vel id urna. Sed a interdum massa. Cras magna quam, dictum eget blandit et, luctus ac lorem. Ut sagittis consequat mattis. Etiam aliquet interdum mi sed iaculis.</p>
<hr />
<p>Made with love from all of our <a href="https://rollingrhinoremix.github.io/contributors.txt">developers &amp; contributors</a>, and a large thank you to Martin Wimpress who's <a href="https://github.com/wimpysworld/rolling-rhino">Rolling Rhino</a> script has inspired the development of this distribution. We would also like to thank Martin for his permission to use the name &quot;Rolling Rhino Remix&quot;.</p>
<ul>
<li>Ubuntu and Canonical are registered trademarks of Canonical Ltd. Rolling Rhino Remix is not affiliated with the Ubuntu Project.</li>
<li>Linux is the registered trademark of Linus Torvalds.</li>
</ul>
</div>
</body>
</html>