#hamburger-menu {
    position: fixed;
    z-index: 10;

    width: 100%;
}

#hamburger-bg {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;

    width: 120vw;
    height: 120vh;

    background: rgba(0, 0, 0, 0.4);

    animation: hamburger-bg-on 0.3s;
}

#hamburger-button {
    position: absolute;
    left: 0;

    transform: translate(100%, 0);

    width: 4em;
    height: 4em;

    background: none;
    border: none;

    animation: hamburger-hover-off 0.3s;
    top: 1em;

    /* create flexbox */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#hamburger-button:hover {
    cursor: pointer;
    animation: hamburger-hover-on 0.3s;
    top: 1.3em;
}
#hamburger-button:focus {
    border: none;
}

.hamburger-line {
    width: 100%;
    height: 0.3em;

    border-radius: 25px;

    background: white;

    box-shadow: 0px 2px 5px #000000;
}

@keyframes hamburger-hover-on {
    from {top: 1em;}
    to {top: 1.3em;}
}
@keyframes hamburger-hover-off {
    from {top: 1.3em;}
    to {top: 1em;}
}

@keyframes hamburger-bg-on {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes hamburger-bg-off {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* if on portrait mode */
@media only screen and (orientation: portrait) {
    #hamburger-button {
        transform: translate(50%, 20%); /* re-arrange positioning */

        /* make hamburger slightly larger on mobile */
        width: 8vw;
        height: 8vw;
    }
}