.navlink {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    text-decoration: none;

    text-align: center;

    color: #ffffff;

    padding: 0.4em;

    animation: navlink-hover-off 0.1s;
}
.active {
    color: #e95420;
    text-shadow: 1px 1px 10px #000000;
}
.inactive {
    color: #ffffff;
}
.inactive:hover {
    color: #e95420;
    text-shadow: 1px 1px 10px #000000;
    animation: navlink-hover-on 0.1s;
}

#navlink-wiki-image {
    width: 0.75em;
    height: auto;
    
    margin-left: 5px;
    
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(37deg) brightness(98%) contrast(106%);
}

#navbar-logo {
    position: relative;

    top: 0.5em;

    left: 1em;
}
#navbar-logo > img {
    display: inline;
    width: 4em;
    min-width: 90px;
    
    height: auto;
}

#navlink-container {
    position: absolute;

    top: 0vw;

    left: 50vw;

    width: fit-content;
    height: auto;

    padding-right: 1em;
    padding-left: 1em;

    transform: translate(-50%, 0);

    /* flex box */
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    background: #4e4e4e;

    box-shadow: 0px 3px 5px #000000;

    border-radius: 25px;

    animation: navbar-intro 0.3s;
}

@keyframes navbar-intro {
    from {opacity: 0; filter: blur(5px); top: -2em;}
    to {opacity: 1; filter: blur(0); top: 0;}
}
@keyframes navbar-outro {
    from {opacity: 1; filter: blur(0); top: 0;}
    to {opacity: 0; filter: blur(5px); top: -2em;}
}

/* mobile format */
@media only screen and (orientation: portrait) {

    #navlink-container {
        position: absolute;
    
        top: 50vw;
    
        left: 50vw;
    
        width: 40vw;
        height: auto;
    
        transform: translate(-50%, -50%);
    
        /* flex box */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    
        background: #4e4e4e;

        padding-top: 2em;
        padding-bottom: 2em;
    
        border-radius: 25px;
    
        animation: navbar-intro 0.3s;
    }

    @keyframes navbar-intro {
        from {opacity: 0; filter: blur(5px); top: calc(50vw - 2em);}
        to {opacity: 1; filter: blur(0); top: 50vw;}
    }
    @keyframes navbar-outro {
        from {opacity: 1; filter: blur(0); top: 50vw;}
        to {opacity: 0; filter: blur(5px); top: calc(50vw - 2em);}
    }
    
}

@keyframes navlink-hover-on {
    from {color: #ffffff;}
    to {color: #e95420;}
}

@keyframes navlink-hover-off {
    from {color: #e95420;}
    to {color: #ffffff;}
}