.shadow-page-break-down {
    transform: translate(0, 5px);
    box-shadow: 0px 4px 6px #000000;
}

.shadow-page-break-up {
    transform: translate(0, -5px);
    box-shadow: 0px -4px 6px #000000;
}

.spacer {
    position: relative;
    height: 5em;
    width: 100vw;
}

.mini-spacer {
    position: relative;
    height: 1em;
    width: 100vw;
}

/* code text */
.code {
    padding: 0.2em;

    border-radius: 10px;
    background: #1b1b1b;
}

/* gradient text, mostly for headers */
.gradient {
    background-image: -webkit-linear-gradient(left, #e95420, #ca43bd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}