.spacer {
    position: relative;
    height: 5em;
    width: 100vw;
}

.mini-spacer {
    position: relative;
    height: 1em;
    width: 100vw;
}

/* code text */
.code {
    position: relative;

    padding: 0.2em;

    border-radius: 5px;
    background: #1b1b1b;
}

/* gradient text, mostly for headers */
.gradient {
    background-image: -webkit-linear-gradient(left, #e95420, #ca43bd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-width {
    width: 100%;
}

.card {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;

    padding: 1em;

    border-radius: 25px;

    background: #4e4e4e;
    color: #ffffff;

    box-shadow: 0px 2px 3px #000000;
}

/* portrait mode */
@media screen and (orientation: portrait) {
    .page-width {
        width: 111%;
    }

    .card {
        width: 80%;
    }
}