/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /* ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); /* robot mono */

* {
    /* font stuff */
    font-family: 'Roboto';
}

body {
    overflow-x: hidden;
    margin: 0;
    background: #2d2d2d;

    font-size: 1em;

    width: 100%;
}

#router {
    width: 100%;
}

/* if on mobile/portrait */
@media screen and (orientation: portrait) {
    /* double font size */
    body {
        font-size: 2em;
    }
}