/* -------------- BEGINNING OF PAGE -------------- */
#home-page {
    position: absolute;
    left: 0;
    right: 0;
    
    width: 100vw;
    height: 100vh;
}

.home-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;
    
    margin-top: 3em;

    color: #ffffff;
}

#home-laptop-image {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;
}

#home-shadow-pb1 {
    position: relative;
    left: -5px;

    top: -20px;

    width: 100vw;
    height: 15px;
}

/* -------------- SECTION 1 -------------- */

#home-section1 {
    width: 100vw;
    height: 30em;

    color: #ffffff;

    background: #4e4e4e;
}

#home-section1-header {
    margin: 1em 1em 0 1em;
    width: fit-content;
}

#home-section1-paragraph {
    margin: 2em 1em 1em 1.5em;

    font-size: 1.2em;
}

#home-image1 {
    position: relative;
    top: 50%;

    transform: translate(0, -55%);

    width: 20em;
    min-width: 400px;

    height: 20em;

    border-radius: 25px;

    box-shadow: 3px 3px 10px #000000;
}

/* -------------- SECTION 2 -------------- */

#home-section2 {
    width: 100vw;
    height: 50em;

    margin-bottom: 25em;
}

#home-shadow-pb2 {
    position: relative;
    left: -5px;

    top: 5px;

    width: 100vw;
    height: 15px;
}

#home-section2-header {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    margin-top: 1em;

    width: fit-content;

    color: #ffffff;
}

#home-section2-paragraph { 
    position: relative;

    margin-top: 2em;

    left: 50%;

    transform: translate(-50%, 0);

    font-size: 1.2em;

    width: 80%;

    color: #ffffff;
}

/* flex box for grid objects */
#home-section2-grid {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: ltr;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-section2-grid-object {
    width: 20%;
    height: 15em;

    margin-right: 8%;
}
.home-section2-grid-object > img {
    width: 100%;
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.home-section2-grid-object > p {
    position: relative;

    top: -0.5em;

    font-size: 1.2em;

    text-align: center;

    color: #ffffff;

    background-color: #4e4e4e;

    margin-top: 0;

    padding: 0.5em;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* -------------- SECTION 3 -------------- */

#home-section3 {
    position: relative;
    width: 100%;

    background: #4e4e4e;
    color: #ffffff;
}

#home-shadow-pb3 {
    position: relative;
    left: -5px;

    top: -20px;

    width: 100vw;
    height: 15px;
}

.home-section3-argument {
    position: relative;

    left: 50%;
    
    transform: translate(-50%, 0);

    width: 25%;

    margin: 2em;
}
.home-section3-argument > h1 {
    color: #D33A26;

    width: fit-content;
}

#home-shadow-pb4 {
    position: absolute;
    left: -5px;

    top: calc(100% + 5px);

    width: 100vw;
    height: 15px;
}