#error404 {
    position: absolute;
    top: 10em;

    width: 100%;

    color: #ffffff;
}
#error404 > * {
    text-align: center;
}

#error404-return-link {
    position: relative;

    color: #e95420;

    text-shadow: none;
}