#error404 {
    position: absolute;

    width: 100%;

    color: #ffffff;
}
#error404 > * {
    text-align: center;
}
#error404 > h1 {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;
}

#error404 > img {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 30%;
}

/* mobile port */
@media screen and (orientation: portrait) {
    /* increase size of image */
    #error404 > img {
        width: 80%;
    }
}