/* center the news post out into the middle */
.news-post {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 40%;

    padding: 3em;

    margin-bottom: 5em;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    background: #4e4e4e;

    color: #ffffff;

    box-shadow: 0px 2px 3px #000000;
}

.news-post-banner {
    position: absolute;

    top: -0.5em;
    left: -1px; /* push back 1px because left border pushes forward 1px */

    width: 100%;
    height: 0.5em;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    /* gradient */
    background-image: -webkit-linear-gradient(left, #e95420, #ca43bd);

    border-top: 2px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.news-post-title {
    width: fit-content;

    margin-top: 0;

    margin-bottom: 0;
}

.news-post-date {
    color: #2d2d2d;

    margin-top: 0.2em;

}