#news {
    position: absolute;
}
#news-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;

    color: #ffffff;
}

/* mobile port */
@media screen and (orientation: portrait) {
    #news-title {
        text-align: center;
    }
}