/* center the news post out into the middle */
.news-post {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 40%;

    padding: 3em;

    margin-bottom: 10%;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    background: #4e4e4e;

    color: #ffffff;

    box-shadow: 0px 2px 3px #000000;
}

.news-post-banner {
    position: absolute;

    top: -0.5em;
    left: -1px; /* push back 1px because left border pushes forward 1px */

    width: 100%;
    height: 0.5em;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    /* gradient */
    background-image: -webkit-linear-gradient(left, #e95420, #ca43bd);

    border-top: 2px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.news-post-title {
    width: fit-content;

    margin-top: 0;

    margin-bottom: 0;
}

/* CSS copied from .paragraph-link in general.css */
.news-post-paragraph-text > a {
    color: #f08965; /* same color as paragraph link class, but automated here so i don't have to manually add the class to links */
}
.news-post-paragraph-text > a:hover {
    color: #000000;
    background: #f08965;

    text-decoration: none;

    padding: 0px 1px 0px 1px;

    border-radius: 1px;

    margin: -1px;
}

.news-post-date {
    color: #ffffff;

    margin-top: 0.2em;
}

.news-post-share-button {
    position: relative;

    left: 100%;

    transform: translate(-100%, 0);

    background: none;
    border: none;

    width: 4em;
    height: 4em;

    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(95deg) brightness(106%) contrast(101%);

    animation: news-post-share-button-hover-off 0.2s;
}
.news-post-share-button:hover {
    cursor: pointer;

    filter: invert(38%) sepia(50%) saturate(2575%) hue-rotate(350deg) brightness(95%) contrast(92%);

    animation: news-post-share-button-hover-on 0.2s;
}
.news-post-share-button > img {
    width: 3em;
    height: 3em;
}

@keyframes news-post-share-button-hover-on {
    from {filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(95deg) brightness(106%) contrast(101%);}
    to {filter: invert(38%) sepia(50%) saturate(2575%) hue-rotate(350deg) brightness(95%) contrast(92%);}
}
@keyframes news-post-share-button-hover-off {
    from {filter: invert(38%) sepia(50%) saturate(2575%) hue-rotate(350deg) brightness(95%) contrast(92%);}
    to {filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(95deg) brightness(106%) contrast(101%);}
}

/* mobile optimizations */
@media screen and (orientation: portrait) {
    .news-post {
        width: 60%;
    }
}