#news-post-share-popup {
    position: fixed;

    top: 100%;
    left: 50%;

    transform: translate(-50%, -150%);

    width: fit-content;

    color: #ffffff;

    opacity: 0;
}

@keyframes news-post-share-popup-intro {
    from {top: calc(100% - 2em); filter: blur(3px); opacity: 0;}
    to {top: 100%; filter: none; opacity: 1;}
}
@keyframes news-post-share-popup-outro {
    from {top: 100%; filter: none; opacity: 1;}
    to {top: calc(100% - 2em); filter: blur(3px); opacity: 0;}
}