/* Import Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Set the margin */
* {
    margin: 0;
}

body {
    background-color: #2d2d2d;
    color: #c4c4c4;
    font-family: 'Ubuntu', sans-serif;
}

/* Header bar*/
#header {
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, rgba(233,84,32,1) 18%, rgba(119,41,83,1) 80%); 
    margin-bottom: 16px;
}

.header-text {
    padding: 80px;
    margin: auto;
    text-align: center;
}

.header-text h1 {
    color: white;
}

/* Navigation bar */
#navigation {
    text-align: center;
}

#navigation a {
    font-size: 20px;
}

/* Center align website content*/
#content {
    margin-bottom: 2rem !important;
    width: 50vw;
    padding: 10px;
    margin: auto;
}

/* Text tags */

h1 {
    color: #E95420;
    margin-bottom: 16px;
}

hr {
    margin-bottom: 8px;
}

h2 {
    color: #E95420;
    margin-bottom: 16px;
}

ul {
    margin-bottom: 16px;
}

p {
    margin-bottom: 16px; 
}

a {
    color: #E95420;
    transition: 0.3s;
}

a:hover {
    color: #E95420;
    opacity: 0.8;
    transition: 0.3s;
}

/* Mobile Optimisations */
@media only screen and (max-width: 1026px) {
    
    h1 {
        font-size: 4vh !important;
        margin-bottom: 3vh !important;
    }

    #header {
        display: none;
    }

    #navigation  {
        text-align: left;
        padding: 32px;
    }

    #navigation a {
        font-size: 2.5vh !important;
        margin-bottom: 3vh !important;
        margin-top: 3vh !important;
    }
    
    h2 {
        font-size: 3.5vh !important;
        margin-bottom: 3vh !important;
        margin-top: 3vh !important;
    }
    
    p {
        font-size: 2.5vh !important;
        margin-bottom: 3vh !important;
    }

    li {
        font-size: 2.5vh !important;
    }
    
    h6 {
        font-size: 1.7vh !important;
        margin-bottom: 3vh !important;
        margin-top: 3vh !important;
    }
    
    #content {
        width: 98%;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
  
}