#download {
    position: absolute;
    
    width: 100vw;
}

#download-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;

    color: #ffffff; /* fallback if gradient doesn't work */
}

/* -------------- SECTION 1 -------------- */

#download-section1 {
    position: relative;

    left: 50%;

    transform: translate(-50% ,0);

    width: 50%;

    text-align: center;

    border-radius: 25px;
    
    color: #ffffff;

    background: #4e4e4e;

    box-shadow: 0px 2px 3px #000000;
}

#download-section1-pb1 {
    position: relative;
    left: -5px;

    top: -20px;

    width: 100vw;
    height: 15px;
}

#download-section1-pb2 {
    position: relative;
    left: -5px;

    top: 5px;

    width: 100vw;
    height: 15px;
}

.download-section1-text {
    margin: 1em;
}

.download-links {
    color: #e95420;
}

#download-section1-mirrors-title {
    position: relative;
    left: 0.5em;
}