#download {
    position: absolute;
    
    width: 100vw;
}

#download-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;

    color: #ffffff; /* fallback if gradient doesn't work */
}

/* -------------- SECTION 1 -------------- */

#download-section1 {
    width: 100%;

    background: #4e4e4e;
    
    color: #ffffff;
}

#download-section1-pb1 {
    position: relative;
    left: -5px;

    top: -20px;

    width: 100vw;
    height: 15px;
}

#download-section1-pb2 {
    position: relative;
    left: -5px;

    top: 5px;

    width: 100vw;
    height: 15px;
}

.download-section1-text {
    margin: 1em;
}

.download-links {
    color: #eb764c;
}

#download-section1-mirrors-title {
    position: relative;
    left: 0.5em;
}