#info {
    position: absolute;
}

#info-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;
}

#info-contributors-section {
}

.info-contributors-title {
    text-align: center;
}

#info-contributors-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.info-contributor {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 80%;

    text-align: left;    
}
.info-contributor > a {
    position: relative;

    top: -0.2em;

    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 1.25em;

    text-decoration: none;

    color: #f08965;
}
.info-contributor > a:hover {
    text-decoration: underline;
}

.info-spelling-contributor {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 80%;

    text-align: left;

    margin-bottom: 0;
}

#info-other-contributors-link {
    text-align: center;

    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 1.25em;

    text-decoration: none;

    color: #f08965;
}
#info-other-contributors-link:hover {
    text-decoration: underline;
}

#info-press-section {
}

#info-press-title {
    text-align: center;
}

#info-press-text {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 80%;

    text-align: left;
}

#info-press-text-link-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

/* mobile optimizations */
@media screen and (orientation: portrait) {
    #info-title {
        text-align: center;
    }
}