#branding {
    position: absolute;

    width: 100%;
}

#branding-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;
}

#branding-title2 {
    text-align: center;

    color: #ffffff;
}

#branding-paragraph 
{
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    text-align: left;

    width: 50%;

    color: #ffffff;
}
#branding-paragraph > a {
    color: #e95420;
}

#branding-logos-section > h3 {
    text-align: center;

    color: #ffffff;
}
#branding-logos-section > p {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    text-align: left;

    width: 50%;

    color: #ffffff;
}

#branding-logos-images-container {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;
    height: fit-content;

    background: #4e4e4e;
    box-shadow: 0px 2px 3px #000000;

    padding: 2em;
    border-radius: 25px;

    /* flexbox */
    display: flex;
    flex-direction: ltr;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.branding-logo {
    width: 25%;
    height: 25%;

    margin-right: 12.5%;

    border-radius: 20px;
}

#branding-logos-banners-container {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;

    background: #4e4e4e;
    box-shadow: 0px 2px 3px #000000;

    padding: 2em;
    border-radius: 25px;
}

.branding-banner-logo {
    width: 100%;

    border-radius: 10px;

    margin-bottom: 5em;
}

#branding-wallpapers-section > h3 {
    text-align: center;

    color: #ffffff;
}
#branding-wallpapers-section > p {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    text-align: left;

    width: 50%;

    color: #ffffff;
}

#branding-wallpapers-container {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 60%;
    
    background: #4e4e4e;
    box-shadow: 0px 2px 3px #000000;

    padding: 2em;
    border-radius: 25px;
}

.branding-wallpaper {
    width: 100%;

    border-radius: 10px;

    margin-bottom: 5em;
}

/* mobile optimization */
@media screen and (orientation: portrait) {
    #branding-title {
        font-size: 1.6em;
    }
    #branding-paragraph {
        position: relative;

        left: 50%;

        transform: translate(-50%, 0);

        width: 80%;
    }

    #branding-logos-section > p {
        width: 80%;
    }

    #branding-wallpapers-section > p {
        width: 80%;
    }

    #branding-logos-images-container {
        width: 75%;

        flex-direction: column;
    }
    .branding-logo {
        position: relative;

        left: 50%;

        transform: translate(-50%, 0);

        width: 80%;

        margin: 0 0 2em 0;
    }

    #branding-logos-banners-container {
        width: 75%;
    }

    #branding-wallpapers-container {
        width: 75%;
    }
}