#branding-page {
    position: absolute;
}

#branding-page-title {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: fit-content;
}

#branding-page-title2 {
    text-align: center;

    color: #ffffff;
}

#branding-page-paragraph {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    text-align: left;

    width: 50%;

    color: #ffffff;
}

#branding-page-logos-section > h3 {
    text-align: center;

    color: #ffffff;
}
#branding-page-logos-section > p {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    text-align: left;

    width: 50%;

    color: #ffffff;
}

#branding-page-logos-images-container {
    padding: 1em;

    /* flexbox */
    display: flex;
    flex-direction: ltr;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.branding-logo {
    width: 25%;
    height: 25%;

    margin-right: 12.5%;

    border-radius: 20px;
}

#branding-page-logos-banners-container {
    padding: 1em;
}

.branding-banner-logo {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 90%;

    border-radius: 10px;

    margin-bottom: 5em;
}

#branding-page-wallpapers-section > h3 {
    text-align: center;

    color: #ffffff;
}
#branding-page-wallpapers-section > p {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    text-align: left;

    width: 50%;

    color: #ffffff;
}

.branding-wallpaper {
    position: relative;

    left: 50%;

    transform: translate(-50%, 0);

    width: 90%;

    border-radius: 10px;

    margin-bottom: 5em;
}

/* mobile optimization */
@media screen and (orientation: portrait) {
    #branding-page-title {
        text-align: center;
    }

    #branding-page-title2 {
        position: relative;

        left: 50%;
        transform: translate(-50%, 0);

        width: 80%;
    }

    #branding-page-paragraph {
        position: relative;

        left: 50%;

        transform: translate(-50%, 0);

        width: 80%;
    }

    #branding-page-logos-section > p {
        width: 80%;
    }

    #branding-page-wallpapers-section > p {
        width: 80%;
    }

    #branding-page-logos-images-container {
        flex-direction: column;
    }
    .branding-logo {
        position: relative;

        left: 50%;

        transform: translate(-50%, 0);

        width: 80%;

        margin: 0 0 2em 0;
    }
}